<div style="display: flex; align-items: center;">
    <img src="../img/es_logo.png" alt="title" style="margin-right: 20px;">
    <h1>Python Syntax and Data Types</h1>
</div>

### Submission Instructions

- You should complete the code in the code cells provided.
- Once you have completed the notebook, you should submit the completed notebook by uploading it to your github profile and sharing the github link as the submission.
- your github repostory should contain the completed notebook as well as a README.md file that summarizes what you have learned in this module.

### Recommended Readings:
- Automate the Boring Stuff with Python: [Chapter 1](https://automatetheboringstuff.com/2e/chapter1/)
- Python Documentation: [Python Docs](https://docs.python.org/3/tutorial/index.html)
- W3Schools Python Tutorial: [W3Schools](https://www.w3schools.com/python/)
- make a readme file [README](https://www.makeareadme.com/)

Complete the code to print out Hello Python! in a formatted string.

In [37]:
message = "Python"
Greeting = "{} Python {}"
print(Greeting.format("Hello", "!"))
print(type(Greeting))

Hello Python !
<class 'str'>

Correct the following code to:
1. Perform the arithmetic operation on a and b.
2. Perform concatenation on a and b.

In [39]:
a = 5
b = "10"

# perform addition expected output is 15
addition = a + int(b)
print(addition)

# perform concatenation expected output is 510
concatenation = str(a) + b
print(concatenation)

15
510

Complete the code to extract and print out the domain name from the email address.

In [47]:
email = "python_dev@estarta.com"

# extract domain from email
domain = email.split('@')[1]
print(domain)

estarta.com

Perform the following operations on the "Cars" list:
1. Add "Honda" to the list.
2. Replace the second element with "Ford".
3. Remove "Toyota" from the list.
4. Check if "Subaru" is in the list.

In [59]:
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# add "Honda" to the list
cars.append("Honda")
print(cars)

# replace the second element with "Ford"
cars[1] = "Ford"
print(cars)
# remove Toyota from the list
cars.remove("Toyota")
print(cars)

# print True if Subaru is in the list else False
x = "Subaru"
if x in cars:
    print(True)
else:
    print(False)

['Toyota', 'Mercedes', 'BMW', 'Jeep', 'Honda']
['Toyota', 'Ford', 'BMW', 'Jeep', 'Honda']
['Ford', 'BMW', 'Jeep', 'Honda']
False

Complete the code to do the following:
1. Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"
2. Add a new key-value pair with "city": "Amman"
3. Update the occupation to "Surgeon"
4. Remove the "country" key-value pair from the dictionary.
5. print out the updated dictionary.

In [63]:
# complete the code to perform the operations listed above
person = {"name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"}
print(person)
person["city"] = "Amman"
print(person)
person.update({"occupation" : "Surgeon"})
print(person)
person.pop("country")
print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan', 'city': 'Amman'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'country': 'Jordan', 'city': 'Amman'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'city': 'Amman'}

Complete the folowing opertasions on the "numbers" set:
1. Check if 4 is in the set.
2. Add 5 to the set.
3. Remove 3 from the set.
4. Try to add a duplicate element to the set.
5. Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set.
6. Create a set that is the union of the two sets.

In [103]:
numbers = {2, 5, 16, 8, 7, 9, 3, 1}

# your code here
print(4 in numbers)
numbers.add(5)
print(numbers)
numbers.remove(3)
print(numbers)

m =max(numbers)
new_set={m+1,m+2,m+3,m+4,m+5,m+6,m+7,m+8,m+9,m+10}
print(new_set)

union_set={print(numbers.union(new_set)) }

False
{1, 2, 3, 5, 7, 8, 9, 16}
{1, 2, 5, 7, 8, 9, 16}
{17, 18, 19, 20, 21, 22, 23, 24, 25, 26}
{1, 2, 5, 7, 8, 9, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26}

Sets do not allow duplicate values; therefore, if you try to add an element already in the set, it will not change. Sets are mutable in Python, but set. add() allows you to edit sets without affecting their identity, making it handy when immutability is necessary.